.navbar{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.nav-wrap{
    width: 70%;
    height: 100%;
    display: flex;
}
.nav-left{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-button{
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    font-weight: 500;
    color: black;
}
.nav-button:hover{
    text-decoration: underline;
}